# DB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=manager-bot

# PORT
PORT=3000
GIN_MODE=debug
RUN_MIGRATE=true

# JWT
JWT_KEY=xywOpqCIOv

# API Authentication
API_KEY=your-secret-api-key-here

# V2 Admin Passcode
ADMIN_PASSCODE=your_pass_code